<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register to Login</h1>
    <form action="/register" method="POST">
        <label for="email">Email</label>
        <input name="email" type="text" placeholder="something@mail.com" required><br><br>
        <%- include('utility/form') %>
        <button type="submit">Submit Form</button><br><br>
        <a href="/">Cancel Register</a>
    </form>
</body>
</html>
